{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Golang CRUD Branko 10.1.2020</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Golang CRUD Branko 10.1.2020</h1>
{{ end }}